<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1">
				<li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang chủ	</a></li>
				<li class="active">Đăng nhập</li>
				<li class="active">Quên mật khẩu</li>
			</ol>
		</div>
	</div>
	
<!-- //breadcrumbs -->
<!-- forgot password -->
	<div class="register">
		<div class="container">
			<div class="login-form-grids">
				
				<h6>Nhập email của bạn</h6>
				<form action="#" method="post">
					<input type="email" placeholder="Nhập địa chỉ email" required=" " >
					
					<input type="submit" value="Xác nhận">
				</form>
			</div>
			<div class="register-home">
				<a href="/">Trang chủ</a>
			</div>
		</div>
	</div>
	
<!-- //forgot password -->