<!-- breadcrumbs -->
<div class="breadcrumbs">
	<div class="container">
		<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
			<li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang chủ</a></li>
			<li class="active">Đăng ký</li>
		</ol>
	</div>
</div>
<!-- //breadcrumbs -->
<!-- register -->
<div class="register">
	<div class="container">
		<h2>Điền vào các mục sau</h2>
		<div class="login-form-grids">
			{{#if errors}}
				<div class="alert alert-danger">{{errors.message}}</div>
			{{/if}}
			<form action="/user/register" method="POST">
				<h6>Thông tin cá nhân</h6>

				<input type="text" placeholder="Họ tên" required="true" name="name">
				<input type="text" placeholder="Ngày sinh" onfocus="(this.type='date')" onblur="(this.type='text')"
					required=" " name="birthDay">
				<div class="col-sm-8">
					<select placeholder="Giới tính" name="gender" required=" ">
						<option value="" disabled selected>Giới tính</option>
						<option value="Nam">Nam</option>
						<option value="Nữ">Nữ</option>
						<option value="Khác">Khác</option>
					</select>
				</div>
				<input type="text" placeholder="Số điện thoại" required=" " name="phoneNumber">

				<div id="error-message1" class="custom-alert alert-danger" aria-hidden="true" role="alert"></div>

				<input id="email" type="email" placeholder="Email" required=" " name="email">

				<div class="register-check-box">
					<div class="check">
						<label class="checkbox"><input type="checkbox" name="acceptNotify"><i> </i>Nhận thông
							báo</label>
					</div>
				</div>
				<h6>Thông tin tài khoản</h6>
				<div id="error-message2" class="custom-alert alert-danger" aria-hidden="true" role="alert"></div>
				<input id="username" type="text" placeholder="Tài khoản" required=" " name="username">
				<input id="password" type="password" placeholder="Mật khẩu" required=" " name="password">
				<div id="error-message3" class="custom-alert alert-danger" aria-hidden="true" role="alert"></div>
				<input id="password2" type="password" placeholder="Xác nhận mật khẩu" required=" " name="password2">

				<div class="register-check-box">
					<div class="check">
						<label class="checkbox"><input type="checkbox" name="acceptRule"><i> </i>Tôi đồng ý với các điều
							khoản và điều kiện.</label>
					</div>
				</div>
				<input id="register" type="submit" value="Đăng ký">
			</form>
		</div>
		<div class="register-home">
			<a href="/">Trang chủ</a>
		</div>
	</div>
</div>
<!-- //register -->
{{#extend "scripts"}}
<script>
	$('#email').change(function () {
		console.log("keyyyy");
		const email = document.getElementById("email");
		$.getJSON('../../api/userAPI/checkEmail?email=' + $('#email').val(), function (data) {
			if (!data) {
				$('#error-message1').html('Email đã tồn tại');
				$("#register").attr("disabled", true);
				console.log(data);
			}
			else {
				$('#error-message1').html('');
				$("#register").attr("disabled", false);
			}
		});
	});
</script>
<script>
	$('#username').change(function () {
		console.log("keyyyy");
		const username = document.getElementById("username");
		$.getJSON('../../api/userAPI/checkUsername?username=' + $('#username').val(), function (data) {
			if (!data) {
				$('#error-message2').html('Tài khoản đã tồn tại');
				$("#register").attr("disabled", true);
				console.log(data);
			}
			else {
				$('#error-message2').html('');
				$("#register").attr("disabled", false);
			}
		});
	});
</script>
<script>

	var password = document.getElementById("password");
	var password2 = document.getElementById("password2");
	function validatePassword() {
		if (password.value != password2.value) {
			$('#error-message3').html('Xác nhận mật khẩu không đúng');
			$("#register").attr("disabled", true);
		} else {
			$('#error-message3').html('');
			$("#register").attr("disabled", false);
		}
	}
	password.change = validatePassword;
	password2.onchange = validatePassword;


</script>
{{/extend}}